mobile/build_log
mobile/*.log
mobile/*.pyc
mobile/usr
mobile/opt
mobile/*.o
mobile/*.os
mobile/*.exe
mobile/packages
mobile/binaries
mobile/*.ipk
mobile/*~

wearable/build_log
wearable/*.log
wearable/*.pyc
wearable/usr
wearable/opt
wearable/*.o
wearable/*.os
wearable/*.exe
wearable/packages
wearable/binaries
wearable/*.ipk
wearable/*~


